@import url('https://fonts.googleapis.com/css2?family=Lora:ital@1&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Lora', serif;
}

html{
    scroll-behavior: smooth;
    transition: .5s;
}

.banner {
    width: 100%;
    height: 90vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.50), rgba(0, 0, 0, 0.50)), url("./assests/1.jpg");
    background-size: cover;
    background-position: center;
}

.navbar {
    width: 95%;
    margin: auto;
    margin-bottom: 20px;
    padding: 15px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: medium;
}

.navbar .logo {
    width: 55px;
    border-radius: 50%;
    cursor: pointer;
}

.navbar .nav-items li {
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    position: relative;
}

.navbar .nav-items li a {
    text-decoration: none;
    text-transform: uppercase;
    font-size: large;
    color: white;
    /* padding: 0 10px 0 10px; */
}

.navbar .nav-items li::after {
    content: '';
    height: 3px;
    width: 0;
    background: #adc4c4;
    border-radius: 10px;
    position: absolute;
    left: 0;
    bottom: -5px;
    transition: 0.5s;
}

.navbar .nav-items li:hover::after {
    width: 100%;
}

.content {
    width: 100%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
    color: white;
}

.content h1 {
    font-size: 70px;
    margin-top: 80px;
}

.content p {
    margin: 20px auto;
    font-size: 23px;
    line-height: 30px;
    font-weight: 100;
}

.content .btn button {
    width: 280px;
    padding: 15px 0;
    text-align: center;
    margin: 5px auto;
    border-radius: 25px;
    font-weight: bold;
    font-size: larger;
    border: 2px solid #adc4c4;
    background: transparent;
    color: white;
    cursor: pointer;
    position: relative;
    overflow: hidden;
}

.content .btn span {
    background: rgb(135, 137, 138);
    height: 100%;
    width: 0;
    border-radius: 25px;
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: -1;
    transition: 0.5s;
}

.content .btn button:hover span {
    width: 100%;
}

.content .btn button:hover {
    border: none;
    /* color: #202020; */
}

.story-section {
    display: flex;
    flex-direction: row-reverse;
    background-color: white;
    color: black;
    background-image: linear-gradient(rgba(77, 72, 72, 0.5), rgba(74, 70, 70, 0.5)), url('assests/3.jpg');
    background-position: 100%;
    background-size: contain;
}

.section-text h2 {
    font-size: 50px;
    margin-top: 20px;
    color: white;
    text-decoration: solid;
    text-align: center;
}

.section-text p {
    font-size: larger;
    color: rgb(255, 255, 255);
    text-align: justify;
    /* margin-bottom: 1em; */
    margin: auto 2.5em;
    line-height: 1.9em;
}

.image {
    position: relative;
    top: 150px;
    margin-left: 15px;
}

.design{
    flex-direction: column;
    text-align: center;
    background-image: linear-gradient(rgba(77, 72, 72, 0.5), rgba(74, 70, 70, 0.5)), url('assests/10.webp');
    background-position: 100%;
    background-size: contain;
}

.featured{
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    margin: 20px auto;
}

.work{
    flex: 1 1 30rem;
    border-radius: .5rem;
    box-shadow: 0 1rem 2rem rgba(0,0,0,.1);
}

.work img{
    width: 300px;
    height: 300px;
    cursor: pointer;
    max-height: auto;
    border-radius: 20px;
    opacity: .6;
    object-fit: cover;
    border: .1rem solid black ;
}

.work img:hover{
    cursor: pointer;
    transform: translateY(-15px);
    transition: all ease .3s;
    opacity: 1;
}

.work a{
    color: #ffffff;
    font-size: 25px;
    text-decoration: none;
}

.work .section-text .h2{
    font-size: 100px;
    margin-top: 20px;
    color: rgb(10, 10, 10);
    text-decoration: solid;
    text-align: center;
}

.design .section-text p{
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-size: 20px;
}

.contact-section {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: black;
    background-image: linear-gradient(rgba(77, 72, 72, 0.5), rgba(74, 70, 70, 0.5)), url('https://images.unsplash.com/photo-1635321349359-333da6bb6da9?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1365&q=80');
    background-position: 100%;
    background-size: contain;
    opacity: 1;
}
.image1 {
    position: relative;
    top: 150px;
    margin-left: 15px;
}


#contact .section-text h2{
    
    font-size: 50px;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 550px;
    color: white;
    text-decoration: solid;
    text-align: center;
}
#contact .section-text p{
    font-size: xx-large;
    text-shadow: 2px 2px #0b0b0b;
    color: rgb(249, 248, 248);
    text-align: justify;
    /* margin-bottom: 1em; */
    margin: auto 3.5em;
    line-height: 1.9em;
}


.form-box{
    padding-top: 6em;
}
form .form-entry{
    font-size: large;
    display: block;
    padding: 0.1em 10px;
    color: white;
    text-shadow: 2px 2px #0b0b0b;
}
form .txt-box{
    font-family:'Times New Roman', Times, serif;
    margin-top: 0.3em;
    margin-right: 200px;
    width: 200px;
    padding: 0.3em 0;
    border-radius: 2px;
    border: 2px solid rgb(150, 144, 144);
    background-color: #d2cef3;
    outline: none;
}
form .btn1{
    margin-left: 15px;
    margin-bottom: 20px;
    text-align: center;
    background-color: #e6e8e6;
    color: rgb(14, 1, 1);
    font-weight: 700;
    letter-spacing: inherit;
    border: 2px solid white;
    box-shadow: 0px 0px 2px 2px rgb(240, 172, 172);
    border-radius: 5px;
    padding: 0.5em 1.5em;
    font-size: 14px;
}
.btn1:hover{
    cursor: pointer;
    background: rgb(170, 210, 245);
    color:black;
}

footer{
    width: 100%;
    line-height: 60px;
    background-color: rgb(124, 124, 124);
    color: white;
    font-weight: 500;
    font-size: x-large;
    text-align: center;
}